#actionMenu {
    text-align: center;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    margin-bottom: 10px;
}

#header {
    font-size: 30px;
    font-weight: 1000;
    font-style: oblique;
    color: black;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    text-shadow: #fff 0 0 1px,   #fff 0 0 1px,   #fff 0 0 1px ,
    #fff 0 0 1px,   #fff 0 0 1px,   #fff 0 0 1px;
}

#myCanvas {
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: lightgray 3px solid;
}

.button {
    width: 60px;
    height: 20px;
    font-style: italic;
    overflow: hidden;
    margin-left: 5px;
    font-size: 12px;
}

body {
    background-color: #000000;
    background-image: linear-gradient(180deg, #000000 50%, #ffffff 95%);
}
